@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

.border-text {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.439);
  -webkit-background-clip: text;
  background-clip: text;
}

.section__padding {
  padding: 1.5rem 4rem;
}

.section__margin {
  margin: 4rem 0rem;
}

.image-overlay {
  border: 0;
  outline: none;
  background: transparent;
}

.image-overlay:hover {
  opacity: 1;
  transform: translateY(2%);
}


/* CHECKOUT */
.express-payment {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.express-payment button {
  background-color: #4c8bf5;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.checkout-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.checkout {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.checkout button {
  background-color: #4c8bf5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.check-form {
  margin-bottom: 20px;
}
.check-form label {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.check-form p {
  font-size: 14px;
  color: #777777;
}

.check-form button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.check-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.check-form input {
  margin-right: 5px;
  vertical-align: middle;
}
.phone-input {
  width: 50%;
  position: relative;
  cursor: pointer;
}

.message {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.phone-input:hover .message {
  display: block;
}


