@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

.border-text {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.439);
  -webkit-background-clip: text;
  background-clip: text;
}

.section__padding {
  padding: 1.5rem 4rem;
}

.section__margin {
  margin: 4rem 0rem;
}

.image-overlay {
  border: 0;
  outline: none;
  background: transparent;
}

.image-overlay:hover {
  opacity: 1;
  transform: translateY(2%);
}
.custom-arrow::before {
  color: black !important;
}
